{% extends "base_generic.html" %}

{% block content %}
<h1>Title: {{ author.last_name }}</h1>

<p><strong>First Name:</strong> {{ author.first_name }}</a></p> <!-- author detail link not yet defined -->
<p><strong>Last Name:</strong> {{ author.last_name }}</p>
<p><strong>DoB:</strong> {{ author.date_of_birth }}</p>
<p><strong>DoD:</strong> {{ author.date_of_death }}</p>

<div style="margin-left:20px;margin-top:20px">
    <!-- <h4>Copies</h4> -->

    <!-- below code not working -->
    {% for book in book.list %}
    <hr>
    {% if True %}
    <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
    </li>
    {% else %}
    <p>There is currently no book by this author.</p>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}